:root {
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

/*La barra de scroll*/
body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: purple;
}

body::-webkit-scrollbar-thumb {
    background: rgb(1, 255, 31);
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navegador {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: blueviolet;
    transition: 200ms ease;
}

.navegador-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: black;
    text-decoration: none;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navegador:hover {
    width: 16rem;
}

.navegador:hover .link-text {
    display: block;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.navegador:hover .logo svg {
    transform: rotate(-540deg);
}